body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.container-1 div{
  border: 0.5px gray;
  padding: 20px;
  text-align: center;
}

.title {
 color: rgb(27, 27, 27);
 font-weight: 100;
 font-size: 2em;
 padding: 10px 20px 20px 20px;
}

.subtitle {
  color: rgb(106, 103, 103);
  font-size: 1em;
}
/*difference between container- and container-2 div*/
.container-2 {
  display: flex;

}

.container-2 div {
  border: 1.5px #ccc solid;
  width: 10em;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  text-align: justify;
}


.box-1 {
  flex: 1;
  border: 0.5px rgb(202, 204, 190) solid;
}

.box-2 {
  flex: 1;
  border: 2px rgba(7, 47, 224, 0.966) solid;
  box-shadow: 0 0 15px 4px rgb(224, 224, 253);
}

.box-3 {
  flex: 1;
    border: 0.5px rgb(202, 204, 190) solid;
}

.box-4 {
  flex: 1;
  border: 0.5px rgb(202, 204, 190) solid;
}

.img {
  position: absolute;
  bottom: 100x;
  width: 200px;
  height: 100px;
}

h1 {
  font-size: 20px;
  color: rgb(48, 47, 47);
  text-align: center;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 9px;
  color: rgb(108, 109, 109);
  text-align: left;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0%;
}

li {
  line-height: 1;
  font-size: 10px;
}

h5 {
  color:rgb(50, 168, 60);
}

.check-off {
  color: rgb(171, 167, 167);
}

/*https://web.dev/css-marker-pseudo-element/*/